<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBB_bcI6EdAQ2bcw89KA32r5VvLlwF3vSY</string>
	<key>GCM_SENDER_ID</key>
	<string>161706194035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseNotification.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-notification-90b61</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notification-90b61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161706194035:ios:6cf4f45311650986916606</string>
</dict>
</plist>